i {
  margin: 0 5px;
  font-size: 1.2em;
}

i:hover {
  cursor: pointer;
  filter:brightness(1.2);
}

table {
  text-align: center;
}

table th {
  text-align: center;
}

select  {
  max-width: 120px;
  height:20px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.table td {
  vertical-align: middle!important;
}


.profile-picture {
  width: 120px;
  height: 120px;
  margin: 10px auto;
}

.profile-picture:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 4px 4px 4px grey;
}


.fa-save {
  color: green;
}

.fa-trash-o {
  color: red;
}

.back-next:first-of-type {
  margin: 0 auto;
  margin-top: 40px;
}

.back-next {
  margin: 0 auto;
  margin-top: 20px;
}

@media
	  only screen
    and (max-width: 768px), (min-device-width: 768px)
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
      overflow: hidden;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -999px;
			left: -999px;
		}

    thead {
      margin-bottom: 20px;
    }

    tr {
      margin: 0 0 0 0;
    }

    tr:nth-child(odd) {
    /*striped here */
    }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 2px solid #eee;
			position: relative;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

	}
