<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item"> <!-- Mobile Button -->
            <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark">
              <i class="ti-menu"></i>
            </a>
          </li>
          <li class="nav-item"> <!-- Desktop Button -->
            <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark">
              <i class="ti-menu"></i>
            </a>
          </li>
      </ul>

      <ul class="navbar-nav my-lg-0">

      <li class="nav-item search-box">  <!-- Search Bar -->
        <a class="nav-link waves-effect waves-dark"><i class="ti-search"></i></a>
          <form class="app-search">
              <input type="text" class="form-control" placeholder="Search & enter">
                <a class="srh-btn"><i class="ti-close"></i></a>
          </form>
      </li>

      <li class="nav-item dropdown">  <!-- Email Icon -->
          <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="mdi mdi-email"></i>
              <div class="notify">
                <span class="heartbit"></span>
                <span class="point"></span>
              </div>
          </a>
          <div class="dropdown-menu mailbox dropdown-menu-right animated fadeInDown faster" aria-labelledby="2">
            <ul>  <!-- Message BOX -->
              <li>
                  <div class="drop-title">You have 4 new messages</div>
              </li>
              <li>
                <div class="message-center">
                    <!-- Message -->
                    <a href="#">
                      <div class="user-img">
                        <img src="assets/images/users/1.jpg" alt="user" class="img-circle">
                        <span class="profile-status online pull-right"></span>
                      </div>
                      <div class="mail-contnet">
                          <h5>Pavan kumar</h5>
                            <span class="mail-desc">Just see the my admin!</span>
                            <span class="time">9:30 AM</span>
                      </div>
                    </a>
                    <!-- Message -->
                    <a href="#">
                      <div class="user-img">
                        <img src="assets/images/users/2.jpg" alt="user" class="img-circle">
                        <span class="profile-status busy pull-right"></span>
                      </div>
                      <div class="mail-contnet">
                          <h5>Sonu Nigam</h5>
                            <span class="mail-desc">I've sung a song! See you at</span>
                            <span class="time">9:10 AM</span>
                      </div>
                    </a>
                    <!-- Message -->
                    <a href="#">
                      <div class="user-img">
                        <img src="assets/images/users/3.jpg" alt="user" class="img-circle">
                        <span class="profile-status away pull-right"></span>
                      </div>
                      <div class="mail-contnet">
                          <h5>Arijit Sinh</h5>
                            <span class="mail-desc">I am a singer!</span>
                            <span class="time">9:08 AM</span>
                      </div>
                    </a>
                    <!-- Message -->
                    <a href="#">
                      <div class="user-img">
                        <img src="assets/images/users/4.jpg" alt="user" class="img-circle">
                        <span class="profile-status offline pull-right"></span>
                      </div>
                      <div class="mail-contnet">
                          <h5>Pavan kumar</h5>
                          <span class="mail-desc">Just see the my admin!</span>
                          <span class="time">9:02 AM</span>
                      </div>
                    </a>
                </div>
              </li>
              <li>
                  <a class="nav-link text-center" href="">
                    <strong>See all e-Mails </strong> <i class="fa fa-angle-right"></i>
                  </a>
              </li>
            </ul>
          </div>
      </li>

      <li class="nav-item dropdown">  <!-- Profile BOX -->
          <a class="nav-link dropdown-toggle waves-effect waves-dark"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="_user.user.image | image" alt="user" class="profile-pic"/>
          </a>
          <div class="dropdown-menu dropdown-menu-right animated fadeInDown faster">  <!-- Profile Drop Menu -->
              <ul class="dropdown-user">
                  <li>
                      <div class="dw-user-box">
                          <div class="u-img">
                            <img [src]="_user.user.image | image" alt="user">
                          </div>
                          <div class="u-text">
                              <h5>Bienvenido</h5>  <!-- User NAME -->
                              <h5 class="text-muted">{{ _user.user.name }}</h5>  <!-- User EMAIL -->

                          </div>
                      </div>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li><a routerLink="/profile"
                    routerLinkActive="active"><i class="material-icons">mood</i>Perfil</a></li>
                  <li><a href="#"><i class="material-icons">card_travel</i>Balance</a></li>
                  <li><a href="#"><i class="material-icons">mail_outline</i>Mensajes</a></li>

                  <li role="separator" class="divider"></li>

                  <li><a routerLink="/settings"><i class="material-icons">settings</i>Ajustes</a></li>

                  <li role="separator" class="divider"></li>

                  <li><a class="logout" (click)="logOut()"><i class="material-icons">exit_to_app</i>Salir</a></li>
              </ul>
          </div>
      </li>
     </ul>
    </div>
  </nav>
</header>
