<aside class="left-sidebar">  <!-- Sidebar scroll-->
   <div class="scroll-sidebar">  <!-- Sidebar navigation-->
   <nav class="sidebar-nav">
       <ul id="sidebarnav">
         <li class="user-profile">  <!-- Account Menu -->
         <a #account class="has-arrow waves-effect waves-dark" aria-expanded="true">
           <img [src]="_user.user.image | image" alt="user"/>
           <span class="hide-menu">{{ _user.user.name }}</span></a>
             <ul aria-expanded="true" class="collapse">
               <li><a (click)="closeBar(account)" routerLink="/profile"
                 routerLinkActive="active">Perfil</a></li>
               <li><a href="javascript:void()">Balance</a></li>
               <li><a href="javascript:void()">Mensajes</a></li>
               <li><a (click)="closeBar(account)" routerLink="/settings"
                 routerLinkActive="active">Ajustes</a></li>
               <li><a class="logout" href="javascript:void()" (click)="logOut()">Salir</a></li>
             </ul>
         </li>

         <li  class="nav-devider"></li>

         <li class="nav-small-cap">PERSONAL</li>
         <li *ngFor="let menu of _sidebar.menu" #profile>  <!-- NgFor Menu -->
           <a class="has-arrow waves-effect waves-dark" aria-expanded="true">
             <i [class]="menu.icon"></i>
             <span class="hide-menu menu-title">{{menu.title}}
               <span class="label label-rouded label-themecolor pull-right">{{menu.subMenu.length}}</span>
             </span>
           </a>
             <ul aria-expanded="true" class="collapse">
               <li *ngFor="let subMenu of menu.subMenu">
                 <a (click)="closeBar(profile)" [routerLink]="[subMenu.URL]" routerLinkActive="active">{{subMenu.title}}</a>
               </li>
             </ul>
          </li>
       </ul>
   </nav>  <!-- End Sidebar navigation -->
   </div>  <!-- End Sidebar scroll-->
 </aside>
