@import '../../scss/login';
@import '../../scss/colors';

.error {
  color:red;
  font-size: .7em;
  font-weight: bold;
}

.error-line {
  background-image: -webkit-linear-gradient(#ff0000, #ff0000), -webkit-linear-gradient(#e9edf2, #e9edf2)!important;
}

.success-line {
  background-image: -webkit-linear-gradient(#00ff00, #00ff00), -webkit-linear-gradient(#00ff00, #00ff00)!important;
}


.checkbox {
  margin-right: 10px;
}

.btn:disabled {
  background: grey;
}
