<div class="row">
  <div class="col-lg-6 col-sm-12">  <!-- CHART 1 -->
    <div class="card">
      <div class="card-body">
        <h4>{{charts.chart1.leyend}}</h4>
        <app-doughnut-chart [chartLabels]="charts.chart1.labels"
                        [chartData]="charts.chart1.data"
                        chartType="doughnut">
        </app-doughnut-chart>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-sm-12">  <!-- CHART 2 -->
    <div class="card">
      <div class="card-body">
        <h4>{{charts.chart2.leyend}}</h4>
        <app-doughnut-chart [chartLabels]="charts.chart2.labels"
                        [chartData]="charts.chart2.data"
                        chartType="doughnut">
        </app-doughnut-chart>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-sm-12">  <!-- CHART 3 -->
    <div class="card">
      <div class="card-body">
        <h4>{{charts.chart3.leyend}}</h4>
        <app-doughnut-chart [chartLabels]="charts.chart3.labels"
                        [chartData]="charts.chart3.data"
                        chartType="doughnut">
        </app-doughnut-chart>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-sm-12">  <!-- CHART 4 -->
    <div class="card">
      <div class="card-body">
        <h4>{{charts.chart4.leyend}}</h4>
        <app-doughnut-chart [chartLabels]="charts.chart4.labels"
                        [chartData]="charts.chart4.data"
                        chartType="doughnut">
        </app-doughnut-chart>
      </div>
    </div>
  </div>
</div>
