<section id="wrapper">
  <div class="login-register">
    <div class="login-box card animated fadeIn slow">
        <div class="card-body">
          <form [formGroup]="signInForm" (ngSubmit)="onSubmit()"
            class="form-horizontal form-material" id="loginform">
              <h3 class="box-title m-b-20">Ingreso</h3>

              <div class="form-group">
                  <div class="col-xs-12">
                    <input formControlName="email" name="email" class="form-control"
                    [ngClass]="signInForm.controls.email.invalid == true ? 'error-line' : 'success-line'"
                      type="email" required placeholder="Email">
                      <div *ngIf="signInForm.controls.email.invalid && !signInForm.controls.email.pristine">
                        <span class="error">Introduce un email válido. (5-25 caracteres)</span>
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  <div class="col-xs-12">
                      <input formControlName="password" name="password" class="form-control"
                    [ngClass]="signInForm.controls.password.invalid == true ? 'error-line' : 'success-line'"
                        type="password" required placeholder="Password">
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-md-12">
                      <div class="checkbox checkbox-info pull-left p-t-0">
                          <input formControlName="remember" name="remember" id="checkbox-signup"
                          type="checkbox" class="filled-in chk-col-light-blue">
                          <label for="checkbox-signup">Recuérdame</label>
                      </div>
                        <a href="" id="to-recover" class="pull-right">
                        <i class="fa fa-lock m-r-5"></i>Me olvidé!</a>
                  </div>
              </div>
              <div class="form-group text-center">
                  <div class="col-xs-12 p-b-20">
                      <button class="btn btn-block btn-lg btn-info btn-rounded"
                        type="submit" [disabled]="signInForm.invalid">Ingresa</button>
                  </div>
              </div>

              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                      <div class="social">
                          <button id="google" type="button" class="btn btn-googleplus"
                            data-toggle="tooltip" title="Ingresa con Google">
                            <i aria-hidden="true" class="fa fa-google"></i>
                          </button>
                      </div>
                  </div>
              </div>

              <div class="form-group m-b-0">
                  <div class="col-sm-12 text-center">
                      ¿No tienes una cuenta? <a routerLink="/signup" class="text-info m-l-5"><b>Regístrate</b></a>
                  </div>
              </div>
          </form>

          <form class="form-horizontal" id="recoverform" action="index.html">
              <div class="form-group ">
                  <div class="col-xs-12">
                      <h3>Recuperar Password</h3>
                      <p class="text-muted">Enter your Email and instructions will be sent to you! </p>
                  </div>
              </div>
              <div class="form-group ">
                  <div class="col-xs-12">
                      <input class="form-control" type="text" required="" placeholder="Email"> </div>
              </div>
              <div class="form-group text-center m-t-20">
                  <div class="col-xs-12">
                      <button class="btn btn-primary btn-lg btn-block
                        text-uppercase waves-effect waves-light" type="submit">Reset</button>
                  </div>
              </div>
          </form>
      </div>
    </div>
  </div>
</section>
